<!DOCTYPE html>
<html lang="en">

<head>
	<title>Task management app</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel='stylesheet' href="{% static 'css/custom.css' %}" type="text/css"/>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row mt16 header-div">
                <div class="col-md-3 text-center">
                    <a href="{% url 'task_list' %}">Tasks</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-md-3 text-center pull-right">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                {% elif not user.is_authenticate %}
                    <div class="col-md-3 text-center pull-right">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                {% endif %}
            </div>
            <div>
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </nav>
</body>

</html>