{% extends "tasks/header.html" %}

{% block content %}
  <form method="post" action="{% url 'submit_task' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
