{% extends 'tasks/header.html' %}

{% block content %}
    <a href="{% url 'submit_task' %}">
        <button class="text-center btn btn-danger">Create</button>
    </a>
    {% if user.is_authenticated %}
    <table class="table table-striped table-bordered">
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>State</th>
        </thead>
        <tbody>
    {% for task in object_list %}
        <tr>
            <td>
                <a href="{% url 'task_form' pk=task.pk %}">
                    {{ task.title }}
                </a>
            </td>
            <td>{{ task.description }}</td>
            <td>{{ task.state }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1 class="text-center">
        Please <a href="{% url 'login' %}">login</a> to view tasks.
    </h1>
    {% endif %}
{% endblock %}